<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-grid/grid.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <h1>{{ message }}</h1>

    <form onkeypress="return event.keyCode != 13;">
        <input v-model="input" placeholder="(enter keyword)">
        <button v-on:click="searchGiphy(input)" type="button">Search</button>
    </form>

    <h3>Results</h3>
    <div id="results" class="ui grid">
        <div v-for="item in resultList"
             class="sixteen wide mobile four wide tablet three wide computer two wide large screen column">
                <img v-bind:src="item.fixed_height.url">
        </div>
    </div>
</div>
</body>
<script src="main.js"></script>
</html>