<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="assets/semantic-ui-container/container.min.css">
    <link rel="stylesheet" type="text/css" href="assets/semantic-ui-dimmer/dimmer.min.css">
    <link rel="stylesheet" type="text/css" href="assets/semantic-ui-grid/grid.min.css">
    <link rel="stylesheet" type="text/css" href="assets/semantic-ui-loader/loader.min.css">
    <link rel="stylesheet" type="text/css" href="assets/main.css">

    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
<div id="app" class="ui container">
    <h1>{{ message }}</h1>

    <form onkeypress="return event.keyCode != 13;">
        <input v-model="input" placeholder="(enter keyword)">
        <button v-on:click="searchGiphy(input)" type="button">SEARCH</button>
    </form>

    <h3>RESULTS</h3>
    <div id="results" class="ui grid"
         v-bind:class="{segment: loading}">
        <div class="ui dimmer"
             v-bind:class="{active: loading}">
            <div class="ui loader"></div>
        </div>
        <div v-for="(item,index) in resultList"
             v-on:click="save(index)"
             class="five wide mobile four wide tablet three wide computer two wide large screen column segment">

            <img v-on:load="onImgLoad(index)" v-bind:src="item.fixed_height.url">
            <div class="ui dimmer"
                 v-bind:class="{active: !item.loaded}">
                <div class="ui loader"></div>
            </div>
        </div>
    </div>

    <br>
    <h3>SAVED IMAGES</h3>
    <div id="saved" class="ui grid">
        <div class="row">
            <div v-for="(item,index) in savedList"
                 v-on:click="remove(index)"
                 class="column">
                <img v-bind:src="item.fixed_height.url">
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="assets/notify.min.js"></script>
<script src="main.js"></script>
</html>