<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>VueJS</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <p>{{ message }}</p>
</div>

<div id="app-2">
    <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!</span>
</div>
</body>

<div id="app-3">
    <p v-if="seen">Now you see me</p>
    <p v-if="!seen">Now you don't</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model:message="message"></input>
</div>

<div id="app-7">
    <ol>
        <!-- Now we provide each cake-item with the cake object    -->
        <!-- it's representing, so that its content can be dynamic -->
        <cake-item v-for="item in groceryList" v-bind:cake="item"></cake-item>
    </ol>
</div>


<script src="tutorial.js"></script>
</html>