html {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.segment .dimmer {
    position: relative;
}

.ui.grid#results, .ui.grid#saved .row {
    overflow-x: scroll;
    width: 100%;
    flex-direction: column !important;
    margin: 0;
    background-color: #C7C7C7;
    align-content: flex-start;
}

.row .column {
    width: 200px !important;
}

.ui.grid .column {
    display: inline-block;
    vertical-align: middle;
    margin: 1%;
    min-width: 200px;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.ui.grid .column img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ui.grid .column img {
    width: 100%;
    height: 100%;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#saved img {
    width: 200px;
}

@media (max-width: 768px) {
    .ui.grid .column {
        min-height: 180px;
    }

    #results {
        height: 480px;
    }

    #saved .row {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .ui.grid .column {
        min-height: 210px;
    }

    #results {
        height: 550px;
    }

    #saved .row {
        height: 230px;
    }
}